<script type="module" src={Astro.resolve('./ArcEditor.ts')}></script>
<script type="module" src={Astro.resolve('arc.ts')}></script>
<style>
</style>

<section>
  <arc-editor id="arcEditor" />
</section>
