---
export interface Props {
  id: string;
}

const {id} = Astro.props;
console.log(`testing! ${id}`);
---
  
<script type="module" src={Astro.resolve('./arcSvg.ts')}></script>

<div id={id}>ArcSvg?</div>