<script type="module" src={Astro.resolve('./GridEditor.ts')}></script>
<script type="module" src={Astro.resolve('./grid.ts')}></script>
<style>
  #visGrid {
    --grid-color:var(--divider);
    --hover-color: var(--bg-contrast);
  }
</style>
<div class="toolbar centered">
  <section>
    <button id="btnVisStart">Start</button>
    <button id="btnVisStop">Stop</button>
  </section>
  <section>
    <label>Function:</label>
    <select id="selVisTechnique">
      <option>Random Contiguous</option>
      <option>Random</option>
      <option>Depth</option>
      <option>Breadth</option>
      <option>Row</option>
      <option>Column</option>
    </select>
  </section>
</div>
<div>
  <grid-editor rows="15" cols="15" pixelSize="15" id="visGrid" />
</div>