<script type="module" src={Astro.resolve('../../components/EnvelopeEditor.ts')}></script>
<script type="module" src={Astro.resolve('../../components/LogElement.ts')}></script>

<script type="module" src={Astro.resolve('./envelope.ts')}></script>
<style>
  .sxs {
    display: flex;
  }
  .sxs>div {
    height: 300px;
    flex-grow: 1;
  }

  .stacked {
    display:flex;
  }
  .stacked label {
    width: 5em;
    border: 1px solid yellow;
  }
  #envDataStream:not(.expanded) {
    max-height: 3em;
    flex-grow: 1;
  }

  #envDataStream.expanded {
    max-height: 10em;
    flex-grow: 1;
  }  
  #envDataLog {
    flex-grow: 1;
  }
</style>
<div class="toolbar">
  <section>
    <button id="btnTrigger">Trigger</button>
  </section>
  <section>
    <button id="btnTriggerHold">Trigger & Hold</button>
    <button id="btnRelease">Release</button>
  </section>
  <section>
    <label for="chkLooping">
      Looping
    </label>
    <input type="checkbox" id="chkLooping">
  </section>
  <section>
    <label for="selectShow">
      Show
    </label>
     <select id="selectShow">
        <option value="scaled">Scaled</option>
        <option value="raw">Raw</option>
      </select>
  </section>
</div>
<div class="stackVertical">
  <div id="envData"></div>
  <div style="display: flex">
    <log-element id="envDataLog" />
  </div>
</div>