<script type="module" src={Astro.resolve('../../../components/ArrayVisElement.ts')}></script>
<script type="module" src={Astro.resolve('./QueueVis.ts')}></script>
<div class="centered toolbar">
  <button id="btnEnqueue">Enqueue</button>
  <button id="btnDequeue">Dequeue</button>
</div>
<div class="centered toolbar">
  <div id="peek"></div>
</div>
<div id="vis"></div>

