<script type="module" src={Astro.resolve('../../../components/ArrayVisElement.ts')}></script>
<script type="module" src={Astro.resolve('./StackVis.ts')}></script>
<div class="centered toolbar">
  <button id="btnPush">Push</button>
  <button id="btnPop">Pop</button>
</div>
<div class="centered toolbar">
  <div id="peek"></div>
</div>
<div id="vis"></div>

