<div>
Modules available:<br />

<select size="5">
  <option>arrays</option>
  <option>collections</option>
  <option>components</option>
  <option>dom</option>
  <option>forms</option>
  <option>generators</option>
  <option>geometry</option>
  <option>keyValues</option>
  <option>maps</option>
  <option>modulation</option>
  <option>random</option>
  <option>sets</option>
  <option>stateMachine</option>
  <option>timers</option>
  <option>visual</option>
</select>

</div>
