<script type="module" src={Astro.resolve('./freqWeighted.ts')}></script>
<style>


  /* .toolbar {
    display: flex;
  }
  .toolbar button {
    margin-right: 0.3em;
    margin-left: 0.3em;
  } */
  #dataStream {
    width: 5em;
  }
  #dataStream {
    flex-grow: unset;;
  }
</style>
<div class="toolbar centered">
  <button id="btnStart">Start</button>
  <button id="btnStop">Stop</button>
  <button id="btnClear">Clear</button>
</div>
<div class="sxs">
  <div class="dataLog" id="dataStream"></div>
  <div>
    <histogram-vis id="dataPlot"></histogram-vis>
  </div>
</div>
