<script type="module" hoist>
import '/src/components/flow/stateMachine';
</script>
<style>
  #jsonDescr {
    padding: var(--padding-text);
  }
  h2 {
    font-size: 90%;
    text-transform: uppercase;
    color: var(--muted-color);
  }
  #descrValidate {
    font-size: 80%;
  }
  #descrValidate.error {
    color:hsl(6,73%,50%);
  }
  #currentState {
    margin: 10px;
    font-size: 80%;
  }
  #dataDescr {
    flex-grow: 1;
  }
  #dataStream {
    font-size: 0.8em;
    max-width: 14em;
  }
  .sxs {
    flex-wrap: wrap;
  }
  @media (max-width: 40em) {
	  .dividerRight,.dividerTop {
      border-color: var(--bg);
	  }
  }
</style>
<div class="sxs">
  <section id="dataDescr" class="dividerRight">
    <section>
      <div class="toolbar centered">
        <label for="selDemoMachines">Load demo:</label>
        <select id="selDemoMachines">
          <option>one</option>
        </select>
      </div>
    </section>
    <section>
      <h2>Machine description</h2>
      <pre class="editable" contenteditable id="jsonDescr">
      </pre>
      <div id="descrValidate"></div>

      <label>
        Initial state:
        <select id="selDescrInitial">
          <option></option>
        </select>
      </label>
      <div class="toolbar centered">
        <button id="btnSetDescr">1. Use description</button>
      </div>
    </section>

  </section>
  <section >
    <section>
      <h2>Control</h2>
      <select disabled size="3" id="selPossibleNext">
        <option></option>
      </select>
      <div class="toolbar">
        <button disabled id="btnChangeState">2. Change state</button>
      </div>
   
      <div id="currentState"></div>

    </section>
    <section class="dividerTop">
      <div id="dataStream"></div>
    </section>
  </section>
</div>
